main {
	width: 100%;

	.hero {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--secondary);
		text-align: left;
		padding: 0rem 5vw;
		height: 20rem;
		
		img {
			width: 50%;
		}

		h1 {
			font-size: clamp(2rem, 5vw, 5rem);
			color: var(--primary);
			font-style: italic;
			line-height: 1.0;
			font-weight: 600;
		}

		p {
			font-size: 1.5rem;
			font-weight: 500;
			color: var(--tertiary);
		}
	}
}