.reviewCard {
	// height: 20rem;
	// width: 20rem;
	border: 0.2rem solid var(--primary);
	border-radius: 0.5rem;
	position: relative;
	padding: 1rem;
	background-color: var(--secondary);
	// overflow-y: s;
	// border-width: 0.2rem;

	div {
		// position: absolute;
		top: 0;
		left: 0;
		width: 5rem;
		height: 5rem;
		border-radius: 5rem;
		overflow: hidden;
		outline: 0.2rem solid var(--tertiary);
		outline-offset: 0.2rem;
	}

	img {
		// height: 100%;
		width: 100%;
		// object-position: center;


	}

}