// COLORS
:root {
	--primary: #7ae73f;
	--secondary: #fafafa;
	--tertiary: #F11249;
	--text: #1a1a1a;
	// Font weights
	--w-light: 300;
	--normal: 400;
	--semibold: 500;
	--bold: 700;

	// Font size
	--small: 0.875rem;
	--normal: 1rem;
	--large: 1.25rem;

	//Breakpoints
	--mobile: 600px;
	--tablet: 768px;
	--desktop: 1024px;
}

[data-theme="dark"] {
	--primary: hsl(99, 78%, 48%);
	--secondary: #1a1a1a;
	// --tertiary: hsl(345, 89%, 51%);
	--text: #f5f5f5;
}