// COLORS
:root {
	--primary: hsl(110, 88%, 27%);
	--secondary: #fafafa;
	--tertiary: #d40e3f;
	--text: #1a1a1a;
	--bg: #e7e2e2;
	// Font weights
	--w-light: 300;
	--normal: 400;
	--semibold: 500;
	--bold: 700;

	// Font size
	--small: 0.875rem;
	--normal: 1rem;
	--large: 1.25rem;

	//Breakpoints
	--mobile: 600px;
	--tablet: 768px;
	--desktop: 1024px;
}

[data-theme="dark"] {
	--primary: hsl(99, 66%, 46%);
	--secondary: #1a1a1a;
	--tertiary: hsl(345, 95%, 59%);
	--text: #f5f5f5;
	--bg: #2e2e2e;
}