nav {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	backface-visibility: hidden;
	// overflow: hidden;

	&::before {
		content: '';
		display: block;
		position: sticky;
		height: 1rem;
		top: 2rem;
		box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
		z-index: -1;
	}

	ul{
		margin-top: -1rem;
		display: flex;
		justify-content: center;
		gap: 2vw;
		padding: 0.5rem;
		background-color: var(--secondary);
	}

	a {
		padding: 0.1rem 1rem;
		border: 0.1rem solid transparent;
		font-size: 1.2rem;
		font-weight: 600;
		background-color: var(--secondary);
		border-radius: 2rem;
		position : relative;
		color: var(--tertiary);
		text-decoration: none;
		transition: all 0.2s ease-out;

		&:hover {
			border: 0.1rem solid var(--tertiary);
			transform: scale(1.1);
		}

		// &:visited {

		// }

		&.active {
			color: var(--secondary);
			background-color: var(--tertiary);
		}
	}
}