.App {
  padding: 1rem 5rem;
  text-align: center;
  background-color: grey;
  min-height: 100vh;
  // overflow-y: scroll;
  // overflow-x: hidden;

  
  .container {
    margin: 0 5rem;
    min-height: 100vh;
    background-color: var(--primary);
    border-radius: 2rem;
    overflow: hidden;
  }
}

// @supports (scrollbar-gutter: stable) {
//   .App {
//     overflow-y: auto;
//     scrollbar-gutter: stable;
//   }
// }